#main {
  margin-top: 50px;
  margin-left: 56px;
}

#dropdownParent {
  border: 1px solid black;
  position: absolute;
  z-index: 99;
  max-height: 308px;
  white-space: nowrap;
  overflow: scroll;
  overflow-x: hidden;
}

#dropdownElements {
  position: relative;
}

.autocomplete-items div {
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

.DeleteButton:hover{
  background-color: yellow;
}

.DeleteButton:active {
  background-color:red;
}

#main {
  height: 98%;
  width: 98%;
  margin-left: 56px;
}

#wireRightOther {
  display: none;
}

#wireLeftOther {
  display: none;
}

#base {
  margin-left: 0px;
  white-space: nowrap;
  width: 780px;
  font-size: 13px;
  display: inline-block;
  text-align: left;
  
}

#name {
  padding: 5px;
/*   min-width: 180px; */
  
  width: 3.793cm;
  border: 2px solid black;
  display: inline-block;
  white-space: pre;
  overflow-x: hidden;
}

#description {
  padding: 5px;
  display: inline-block;
  border: 2px solid black;
  width: 9.102cm;
/*   width: 8cm; */
  white-space: pre;
  overflow-x: hidden;
}


#price {
  padding: 5px;
  display: inline-block;
  white-space: nowrap;
  border: 2px solid black;
  width: 58px;
  overflow-x: hidden;
}


#quantity {
  padding: 5px;
  display: inline-block;
  white-space: pre;
  border: 2px solid black;
  width: 58px;
  overflow-x: hidden;
}

#totalPrice {
  padding: 5px;
  display: inline-block;
  white-space: nowrap;
  border: 2px solid black;
  width: 58px;
  overflow-x: hidden;
}

#delete {
  padding: 5px;
  display: inline-block;
  white-space: normal;
  border: 2px solid black;
  width: 58px;
  overflow-x: hidden;
}

/* #quantityProduct {
  position: absolute;
  left: 50%;
}

#productInput {
  position: absolute;
  left: 50%;
} */

#indent {
  position: absolute;
  left: 480px;
}

#line {
/* /*   margin: -1px; */
/*   margin-top: 43px;*/
  margin-top: 28px;
  position: absolute;
/*   width: 100%; */
  width: 803px;
  border-bottom: 2px solid black;
/*   display: inline-block; */
}

@media print {
/*   html {
    size: A4;
  } */
    body {
        margin-top: 0px;
        margin-left: 0px;
      transform: scale(1);
      transform-origin: 0 0;
    }
  }
/* @page {
    margin: 0;
} */